/*
  What limits minimum windows size
  why don't order class from top to bottom of html
  Does thumbnail-title need set font to math with Figure 3.16
  What makes 4.17, change thumbnail-list to flex create moving
  What flex-direction: column does
  Is display: flex inherit to the child or not
  Figure 4.20, why body border does not cover whole elements?
*/



@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Airstream-webfont.woff') format('woff'),
  url('fonts/Airstream-webfont.ttf') format('truetype'),
  url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/LAKESHOR-webfont.woff') format('woff'),
  url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
  url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}
  /* this part doesn't have in  the book, added to make Figure 3.26 */
/* * {
  margin-left: 0;
  margin-right: 0;
} */


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-size: 10px;
  background: rgb(149, 194, 215);
  /* border: 2px purple solid; */
}
/*============================================*/
a {
  text-decoration: none;
}

.main-header {
  /* grow shrink basis -> no grow, do shrink , automatically regenerate when the windows size changed */
  flex: 0 1 auto;
}

.logo-text {
  background: white;

  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 37px;
}
/*============================================*/
.main-content {
  /* do grow do shrink */
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
/*============================================*/
/* .thumbnail-item + .thumbnail-item {
  margin-top: 10px;
} */

.thumbnail-item {
  /* display: block; */
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  /* most browser can see rgb */
  border: 1px solid rgb(100%, 100%, 100%);

   /* if browser can see rgba then it take this line */
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  /* border: 2px red solid; */

}

.thumbnail-list {
  flex: 0 1 auto;
  order: 2;
  /* display: flex; makes thumbnail-item move arround */
  display: flex;
  /* space between thumbnail-item equally */
  justify-content: space-between;
  /* remove style of list such as bullet point */
  list-style: none;
  padding: 0;

  white-space: nowrap;
  overflow-x: auto;
  /* border: 5px green solid; */
}

.thumbnail-image {
  display: block;
  width: 100%;
  /* border: 3px blue solid; */

}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;

  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);

  font-size: 18px;
  /* border: yellow 2px solid; */

}
/*============================================*/

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 5px green solid; */
}

.detail-image-frame {

  position: relative;
  text-align: center;
  /* border: 1px black solid; */
}

.detail-image {
  width: 90%;
}

.detail-image-title {
  position: absolute;
  bottom: -16px;
  left: 4px;

  font-family: airstreamregular;
  color: white;
  /* color 0,0,0,0.9 slightly transparent black
  1px to right (negative to left), 2px below (negative above), 9px blur radius (less blur, easy to see) */
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px; /*-4px 10px 6px*/
  font-size: 40px;
  /* border: 2px yellow solid; */
}
